.alert {
  margin-top: 1em;
}

select {
  margin-bottom: 1em;
}
/*form specific styling*/
.navbar {
  background-color: #5cb85c;
  border-radius: 0;
}

.navbar a {
  color: white !important;
}

.footer {
  margin-top: 40px;
  border-radius: 0px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-left: 15px;
  padding-right: 15px;    
}

.footer img {
  margin-bottom: 20px;
}

.warning-ie7 {
	position:absolute;
	background-color:#444;
	color:white;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index:100000;
	padding: 40px;
}