form>button {
  margin: 20px 20px 20px 0px;
}

form {
  font-size: 16pt;
}

.modal {
  font-size: 16pt;
}

form label {
  margin-top: 20px;
}

.alert-warning {
  color: #fff;
  background-color: #db7a18;
  border-color: #db7a18;
}

.alert-danger {
  color: #fff;
  background-color: #c0392b;
  border-color: #c0392b;
}

.alert-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.alert-info {
  color: #fff;
  background-color: #0097E2;
  border-color: #0097E2;
}


.container {
  padding-right: 40px;
}

.alert {
  margin-top: 1em;
  font-size: 16pt;
}

select {
  margin-bottom: 1em;
}
/*form specific styling*/
.navbar {
  background-color: #5cb85c;
  border-radius: 0;
}

.navbar a {
  color: white !important;
}

.footer {
  margin-top: 40px;
  border-radius: 0px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-left: 15px;
  padding-right: 15px;    
}

.footer img {
  margin-bottom: 20px;
}

.warning-ie7 {
	position:absolute;
	background-color:#444;
	color:white;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index:100000;
	padding: 40px;
}
.uppercase {
  text-transform: uppercase;
}

.tag-input {
  width: 90%;
  display: inline;
}

.tag-prefix {
  margin-right: 6px;
  margin-top: 6px;
  display: inline;
}

.searchButton {
  margin-top: -3px;
  display: inline;
}

.grayout {
  background-color: #444;
  opacity: 0.40;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

@media (max-width: 1200px) {
  .tag-input {
    width: 84%;
  }
}

@media (max-width: 1000px) {
  .tag-input {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .tag-input {
    width: 74%;
  }
}
@media (max-width: 500px) {
  .tag-input {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .tag-input {
    width: 64%;
}
}
@media (max-width: 300px) {
  .tag-input {
    width: 60%;
}
}